.box{
    background-color: aqua;
    padding:30px;
    margin: 20px;
    justify-content: space-between;
  
}
.container{
    display: flex;
    justify-content: center;
    margin: 10px;
 
}
.filtro{
    background-color: aqua;
    width: 230px;
    height: 500px;
}